<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	</head>
	<body>
		<h1>Todos los equipos en la Atlantic Soccer Conference</h1>
		<ol>
			{% for team in consulta1 %}
            <li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1> Todos los jugadores (actuales) en los Boston Penguins</h1>
		<ol>
			{% for player in consulta2 %}
            <li>{{player.first_name}} {{player.last_name}} </li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>Todos los jugadores (actuales) en la International Collegiate Baseball Conference</h1>
		<ol>
			{% for player in consulta3 %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>Todos los jugadores (actuales) en la Conferencia Americana de Fútbol Amateur con el apellido "López"</h1>
		<ol>
			{% for player in consulta4 %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>Todos los jugadores de fútbol americano</h1>
		<ol>
			{% for player in consulta5 %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>Todos los equipos con un jugador (actual) llamado "Sophia"</h1>
		<ol>
			{% for team in consulta6 %}
				<li>{{team.team_name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>Todas las ligas con un jugador (actual) llamado "Sophia"</h1>
		<ol>
			{% for league in consulta7 %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>Todos con el apellido "Flores" que NO (actualmente) juegan para los Washington Roughriders</h1>
		<ol>
			{% for player in consulta8 %}
				<li>{{player.first_name}} {{player.last_name}} </li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>Todos los equipos, pasados y presentes, con los que Samuel Evans ha jugado</h1>
		<ol>
			{% for Team in consulta9 %}
				<li>{{ Team.team_name }}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>Todos los jugadores, pasados y presentes, con los gatos tigre de Manitoba</h1>
		<ol>
			{% for player in consulta10 %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>Todos los jugadores que anteriormente estaban (pero que no lo están) con los Wichita Vikings</h1>
		<ol>
			{% for player in consulta11 %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>Cada equipo para el que Jacob Gray jugó antes de unirse a los Oregon Coltso</h1>
		<ol>
			{% for Team in consulta12 %}
				<li>{{Team.team_name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1> Todos llamados "Joshua" que alguna vez han jugado en la Federación Atlántica de Jugadores de Béisbol Amateur</h1>
		<ol>
			{% for player in consulta13 %}
				<li>{{player.first_name}} {{ player.last_name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1> Todos los equipos que han tenido 12 o más jugadores, pasados y presentes.</h1>
		<ol>
			{% for team in consulta14 %}	
				<li>{{team.team_name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1> Todos los jugadores y el número de equipos para los que jugó, ordenados por la cantidad de equipos para los que han jugado</h1>
		<ol>
			{% for player in consulta15 %}	
				<li>{{player.first_name}} {{player.last_name}} ={{player.num_teams}} </li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>


<!-- 		<h1>Leagues</h1>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams</h1>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Players</h1>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol> -->
	</body>
</html>