<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	</head>
	<body class="bg-danger mt-4">
		<div id="homebtn" class="d-flex fixed-top" >
			<button>
				<a class="text-dark bg-gradient-light" href="/index2">Ir A Sports II</a>
			</button>
		</div>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-4">
			<h4 class="text-center">Todas Las Ligas de Béisbol</h4>
			<ol>
				{% for league in consulta1 %}
					<li>{{league.name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-4">
			<h4 class="text-center">Todas Las Ligas de Mujeres</h4>
			<ol>
				{% for league in consulta2 %}
					<li>{{league.name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-7">
			<h4 class="text-center">Todas las ligas donde el deporte es cualquier tipo de hockey</h4>
			<ol>
				{% for league in consulta3 %}
					<li>{{league.name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-6">
			<h4 class="text-center">Todas las ligas donde el deporte no sea football</h4>
			<ol>
				{% for league in consulta4 %}
					<li>{{league.name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-6">
			<h4 class="text-center">Todas las ligas que se llaman "Conferencias"</h4>
			<ol>
				{% for league in consulta5 %}
					<li>{{league.name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-5">
			<h4 class="text-center">Todas las ligas de la región atlántica</h4>
			<ol>
				{% for league in consulta6 %}
					<li>{{league.name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-5">
			<h4 class="text-center">Todos los equipos con sede en Dallas</h4>
			<ol>
				{% for Team in consulta7 %}
					<li>{{ Team.team_name }} {{Team.location}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-5">
			<h4 class="text-center">Todos los equipos nombraron los Raptors</h4>
			<ol>
				{% for Team in consulta8 %}
					<li>{{Team.team_name}} {{Team.location}} </li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-6">
			<h4 class="text-center">Todos los equipos cuya ubicación incluye "Ciudad"</h4>
			<ol>
				{% for Team in consulta9 %}
					<li>{{ Team.team_name }} {{Team.location}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-6">
			<h4 class="text-center">Todos los equipos cuyos nombres comienzan con "T"</h4>
			<ol>
				{% for Team in consulta10 %}
					<li>{{Team.team_name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-8">
			<h4 class="text-center">Todos los equipos, ordenados alfabéticamente por ubicación</h4>
			<ol>
				{% for Team in consulta11 %}
					<li>{{Team.team_name}} {{Team.location}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-9">
			<h4 class="text-center">Todos los equipos, ordenados por nombre de equipo en orden alfabético inverso</h4>
			<ol>
				{% for Team in consulta12 %}
					<li>{{Team.team_name}} {{Team.location}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-5">
			<h4 class="text-center">Cada jugador con apellido "Cooper"</h4>
			<ol>
				{% for player in consulta13 %}
					<li>{{player.first_name}} {{ player.last_name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-5">
			<h4 class="text-center">Cada jugador con nombre "Joshua"</h4>
			<ol>
				{% for player in consulta14 %}
					<li>{{player.first_name}} {{ player.last_name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-11">
			<h4 class="text-center">Todos los jugadores con el apellido "Cooper" excepto aquellos con "Joshua" como primer nombre</h4>
			<ol>
				{% for player in consulta15 %}
					<li>{{player.first_name}} {{ player.last_name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center" >
			<div class="border border-warning col-xs-12 col-md-8">
			<h4 class="text-center">Todos los jugadores con nombre "Alexander" o nombre "Wyatt"</h4>
			<ol>
				{% for player in consulta16 %}
					<li>{{player.first_name}} {{ player.last_name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			</div>
		</div>
		<br>
		
<!-- 		<h1>Leagues</h1>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams</h1>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Players</h1>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol> -->
	</body>
</html>